<a href="https://colab.research.google.com/github/KB-22/Aimi-Lab-/blob/main/AIML_LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#assingment 1 :
a = 10
b = 20
c = 12
d = a+b+c
print(d)

42

In [ ]:
#assingment 2 :
a = "kartikey"
b = "Bhardwaj"
c = a + b
print (a,"+",b, "->",c)

kartikey + Bhardwaj -> kartikeyBhardwaj

In [ ]:
#Assingment 3 :
a = int(input("enter the value of a :"))
b = int(input("enter the value of b :	"))
c = int(input("enter the value of c :	"))
d = a+b+c
print(d)

enter the value of a :10
enter the value of b :	10
enter the value of c :	12
32

In [ ]:
#assingment 4 :
a = str(input("enter Firts name :"))
b = str(input("enter 	middle name : "))
d = str(input("enter 	Last name : "))

c = a + b + d

print (a,"+",b,"+",d,"->",c)

enter Firts name :Kartikey
enter 	middle name :
enter 	Last name : Bhardwaj
Kartikey +   + Bhardwaj -> Kartikey Bhardwaj

In [ ]:
#Q1
# Write a program to enter two integers and perform all arithmetic operations on them.

a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))


print("Add:", a + b)
print("Sub:", a - b)
print("Multiplication:", a * b)

if b != 0:
    print("Division:", a / b)
    print("Modulus:", a % b)
else:
    print("Division and Modulus not possible (division by zero)")

Enter first integer: 2
Enter second integer: 5
Add: 7
Sub: -3
Multiplication: 10
Division: 0.4
Modulus: 2

In [ ]:
#Q2
#Write a program to swap two numbers using a temporary variable.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Before swapping:")
print("a =", a)
print("b =", b)
temp = a
a = b
b = temp
print("After swapping:")
print("a =", a)
print("b =", b)

Enter first number: 21
Enter second number: 2
Before swapping:
a = 21
b = 2
After swapping:
a = 2
b = 21

In [ ]:
#Q3
# Write a program to read the address of a user. Display the result by breaking it in multiple lines.
house_no = input("Enter house number: ")
street = input("Enter street name: ")
city = input("Enter city: ")
state = input("Enter state: ")
pincode = input("Enter pincode: ")

print("\nAddress:")
print(house_no)
print(street)
print(city)
print(state)
print(pincode)

Enter house number: 123
Enter street name: sector 105
Enter city: noida
Enter state: UP
Enter pincode: 249403

Address:
123
sector 105
noida
UP
249403

In [ ]:
#Q4
#Write a program that prompts a user to enter two integers x and y. The program then calculates x y .

x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))
result = x * y
print("Result:", result)

Enter value of x: 12
Enter value of y: 354
Result: 4248

In [ ]:
#Q5
#Write a program to print ASCII value of a character.
ch = input("Enter a character: ")

ascii_value = ord(ch)

print("The ASCII value of", ch, "is", ascii_value)

Enter a character: j
The ASCII value of j is 106

In [ ]:
#Q6
# Display the following text: I am here to learn \python\ programming.
print("I am here to learn \\python\\ programming.")

I am here to learn \python\ programming.

In [ ]:
#Q7
#Ask a user to enter his name and then print following message';Hi user_name, Welcome to this course';
#Input: Sarvesh
#Output: Hi Sarvesh, Welcome to this course!

user_name = input("Enter your name: ")

print(f"Hi {user_name}, Welcome to this course!")

Enter your name: kartikey
Hi kartikey, Welcome to this course!

In [ ]:
#Q8
#Use a single print() statement to print the following string in the format shown.
#Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.
#Twinkle, twinkle, little star,
# How I wonder what you are!
print("Twinkle, twinkle, little star,\n  How I wonder what you are!\n    Up above the world so high,\n    Like a diamond in the sky.\nTwinkle, twinkle, little star,\n  How I wonder what you are!")

Twinkle, twinkle, little star,
  How I wonder what you are!
    Up above the world so high,
    Like a diamond in the sky.
Twinkle, twinkle, little star,
  How I wonder what you are!