<a href="https://colab.research.google.com/github/KB-22/Aimi-Lab-/blob/main/aiml_lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving world_alcohol - world_alcohol.csv to world_alcohol - world_alcohol.csv

In [3]:
import pandas as pd


df = pd.read_csv("world_alcohol - world_alcohol.csv")

print("Original Dataset:")
display(df)

Original Dataset:

    Year       WHO Region        Country Beverage Types  Display Value
0   1986  Western Pacific       Viet Nam           Wine            NaN
1   1986         Americas        Uruguay          Other           0.50
2   1985           Africa  Cote d'Ivoire           Wine           1.62
3   1986         Americas       Colombia           Beer           4.27
4   1986           Africa        Comoros           Beer           0.02
5   1987         Americas       Colombia           Beer           4.46
6   1987         Americas     Costa Rica           Wine           0.59
7   1987         Americas       Colombia        Spirits           2.23
8   1987         Americas     Costa Rica           Beer           3.81
9   1987           Africa        Comoros           Beer           0.01
10  1987           Africa         Angola        Spirits           0.39
11  1987         Americas       Colombia          Other           0.00
12  1987         Americas     Costa Rica        Spirits           1.14
13  1987         Americas       Colombia           Wine           0.07
14  1987           Africa         Angola           Beer           0.64
15  1987           Africa         Angola           Wine           0.13
16  1987           Africa        Comoros        Spirits            NaN
17  1987         Americas     Costa Rica          Other           0.02
18  1987  Western Pacific       Viet Nam        Spirits           0.01
19  1987  Western Pacific       Viet Nam           Beer           0.11

In [4]:
print("\nExercise 1: Rows without NaN/empty values")
df_no_nan = df.dropna()
display(df_no_nan)

Exercise 1: Rows without NaN/empty values

    Year       WHO Region        Country Beverage Types  Display Value
1   1986         Americas        Uruguay          Other           0.50
2   1985           Africa  Cote d'Ivoire           Wine           1.62
3   1986         Americas       Colombia           Beer           4.27
4   1986           Africa        Comoros           Beer           0.02
5   1987         Americas       Colombia           Beer           4.46
6   1987         Americas     Costa Rica           Wine           0.59
7   1987         Americas       Colombia        Spirits           2.23
8   1987         Americas     Costa Rica           Beer           3.81
9   1987           Africa        Comoros           Beer           0.01
10  1987           Africa         Angola        Spirits           0.39
11  1987         Americas       Colombia          Other           0.00
12  1987         Americas     Costa Rica        Spirits           1.14
13  1987         Americas       Colombia           Wine           0.07
14  1987           Africa         Angola           Beer           0.64
15  1987           Africa         Angola           Wine           0.13
17  1987         Americas     Costa Rica          Other           0.02
18  1987  Western Pacific       Viet Nam        Spirits           0.01
19  1987  Western Pacific       Viet Nam           Beer           0.11

In [5]:
print("\nExercise 2: Rows with NaN/empty values")
df_with_nan = df[df.isna().any(axis=1)]
display(df_with_nan)

Exercise 2: Rows with NaN/empty values

    Year       WHO Region   Country Beverage Types  Display Value
0   1986  Western Pacific  Viet Nam           Wine            NaN
16  1987           Africa   Comoros        Spirits            NaN

In [6]:
print("\nExercise 3: Dataset after deleting rows with NULL values")
df_deleted_null = df.dropna()
display(df_deleted_null)

Exercise 3: Dataset after deleting rows with NULL values

    Year       WHO Region        Country Beverage Types  Display Value
1   1986         Americas        Uruguay          Other           0.50
2   1985           Africa  Cote d'Ivoire           Wine           1.62
3   1986         Americas       Colombia           Beer           4.27
4   1986           Africa        Comoros           Beer           0.02
5   1987         Americas       Colombia           Beer           4.46
6   1987         Americas     Costa Rica           Wine           0.59
7   1987         Americas       Colombia        Spirits           2.23
8   1987         Americas     Costa Rica           Beer           3.81
9   1987           Africa        Comoros           Beer           0.01
10  1987           Africa         Angola        Spirits           0.39
11  1987         Americas       Colombia          Other           0.00
12  1987         Americas     Costa Rica        Spirits           1.14
13  1987         Americas       Colombia           Wine           0.07
14  1987           Africa         Angola           Beer           0.64
15  1987           Africa         Angola           Wine           0.13
17  1987         Americas     Costa Rica          Other           0.02
18  1987  Western Pacific       Viet Nam        Spirits           0.01
19  1987  Western Pacific       Viet Nam           Beer           0.11

In [7]:
print("\nExercise 4: Replace NULL in 'Display Value' with MEAN")
mean_value = df["Display Value"].mean()
df_mean_filled = df.copy()
df_mean_filled["Display Value"].fillna(mean_value, inplace=True)
display(df_mean_filled)

Exercise 4: Replace NULL in 'Display Value' with MEAN

/tmp/ipython-input-1355964713.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mean_filled["Display Value"].fillna(mean_value, inplace=True)

    Year       WHO Region        Country Beverage Types  Display Value
0   1986  Western Pacific       Viet Nam           Wine       1.112222
1   1986         Americas        Uruguay          Other       0.500000
2   1985           Africa  Cote d'Ivoire           Wine       1.620000
3   1986         Americas       Colombia           Beer       4.270000
4   1986           Africa        Comoros           Beer       0.020000
5   1987         Americas       Colombia           Beer       4.460000
6   1987         Americas     Costa Rica           Wine       0.590000
7   1987         Americas       Colombia        Spirits       2.230000
8   1987         Americas     Costa Rica           Beer       3.810000
9   1987           Africa        Comoros           Beer       0.010000
10  1987           Africa         Angola        Spirits       0.390000
11  1987         Americas       Colombia          Other       0.000000
12  1987         Americas     Costa Rica        Spirits       1.140000
13  1987         Americas       Colombia           Wine       0.070000
14  1987           Africa         Angola           Beer       0.640000
15  1987           Africa         Angola           Wine       0.130000
16  1987           Africa        Comoros        Spirits       1.112222
17  1987         Americas     Costa Rica          Other       0.020000
18  1987  Western Pacific       Viet Nam        Spirits       0.010000
19  1987  Western Pacific       Viet Nam           Beer       0.110000

In [8]:
print("\nExercise 5: Replace NULL in 'Display Value' with 1.5")
df_fixed_value = df.copy()
df_fixed_value["Display Value"].fillna(1.5, inplace=True)
display(df_fixed_value)

Exercise 5: Replace NULL in 'Display Value' with 1.5

/tmp/ipython-input-4126056708.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fixed_value["Display Value"].fillna(1.5, inplace=True)

    Year       WHO Region        Country Beverage Types  Display Value
0   1986  Western Pacific       Viet Nam           Wine           1.50
1   1986         Americas        Uruguay          Other           0.50
2   1985           Africa  Cote d'Ivoire           Wine           1.62
3   1986         Americas       Colombia           Beer           4.27
4   1986           Africa        Comoros           Beer           0.02
5   1987         Americas       Colombia           Beer           4.46
6   1987         Americas     Costa Rica           Wine           0.59
7   1987         Americas       Colombia        Spirits           2.23
8   1987         Americas     Costa Rica           Beer           3.81
9   1987           Africa        Comoros           Beer           0.01
10  1987           Africa         Angola        Spirits           0.39
11  1987         Americas       Colombia          Other           0.00
12  1987         Americas     Costa Rica        Spirits           1.14
13  1987         Americas       Colombia           Wine           0.07
14  1987           Africa         Angola           Beer           0.64
15  1987           Africa         Angola           Wine           0.13
16  1987           Africa        Comoros        Spirits           1.50
17  1987         Americas     Costa Rica          Other           0.02
18  1987  Western Pacific       Viet Nam        Spirits           0.01
19  1987  Western Pacific       Viet Nam           Beer           0.11

In [9]:
print("\nExercise 6: Every 5th row starting from index 1")
df_every_5th = df.iloc[1::5]
display(df_every_5th)

Exercise 6: Every 5th row starting from index 1

    Year WHO Region     Country Beverage Types  Display Value
1   1986   Americas     Uruguay          Other           0.50
6   1987   Americas  Costa Rica           Wine           0.59
11  1987   Americas    Colombia          Other           0.00
16  1987     Africa     Comoros        Spirits            NaN

In [10]:
print("\nExercise 7: Rename columns")

# Rename ALL columns
df_renamed_all = df.copy()
df_renamed_all.columns = ["Year", "Region", "Country", "Alcohol Type", "Avg Consumption"]
display(df_renamed_all)

# Rename ONLY SOME columns
df_renamed_some = df.rename(columns={
    "Display Value": "Avg Consumption",
    "Beverage Types": "Alcohol Type"
})
display(df_renamed_some)

Exercise 7: Rename columns

    Year           Region        Country Alcohol Type  Avg Consumption
0   1986  Western Pacific       Viet Nam         Wine              NaN
1   1986         Americas        Uruguay        Other             0.50
2   1985           Africa  Cote d'Ivoire         Wine             1.62
3   1986         Americas       Colombia         Beer             4.27
4   1986           Africa        Comoros         Beer             0.02
5   1987         Americas       Colombia         Beer             4.46
6   1987         Americas     Costa Rica         Wine             0.59
7   1987         Americas       Colombia      Spirits             2.23
8   1987         Americas     Costa Rica         Beer             3.81
9   1987           Africa        Comoros         Beer             0.01
10  1987           Africa         Angola      Spirits             0.39
11  1987         Americas       Colombia        Other             0.00
12  1987         Americas     Costa Rica      Spirits             1.14
13  1987         Americas       Colombia         Wine             0.07
14  1987           Africa         Angola         Beer             0.64
15  1987           Africa         Angola         Wine             0.13
16  1987           Africa        Comoros      Spirits              NaN
17  1987         Americas     Costa Rica        Other             0.02
18  1987  Western Pacific       Viet Nam      Spirits             0.01
19  1987  Western Pacific       Viet Nam         Beer             0.11

    Year       WHO Region        Country Alcohol Type  Avg Consumption
0   1986  Western Pacific       Viet Nam         Wine              NaN
1   1986         Americas        Uruguay        Other             0.50
2   1985           Africa  Cote d'Ivoire         Wine             1.62
3   1986         Americas       Colombia         Beer             4.27
4   1986           Africa        Comoros         Beer             0.02
5   1987         Americas       Colombia         Beer             4.46
6   1987         Americas     Costa Rica         Wine             0.59
7   1987         Americas       Colombia      Spirits             2.23
8   1987         Americas     Costa Rica         Beer             3.81
9   1987           Africa        Comoros         Beer             0.01
10  1987           Africa         Angola      Spirits             0.39
11  1987         Americas       Colombia        Other             0.00
12  1987         Americas     Costa Rica      Spirits             1.14
13  1987         Americas       Colombia         Wine             0.07
14  1987           Africa         Angola         Beer             0.64
15  1987           Africa         Angola         Wine             0.13
16  1987           Africa        Comoros      Spirits              NaN
17  1987         Americas     Costa Rica        Other             0.02
18  1987  Western Pacific       Viet Nam      Spirits             0.01
19  1987  Western Pacific       Viet Nam         Beer             0.11

In [11]:
print("\nExercise 8: Rows with index ending in 0")
df_index_ending_0 = df[df.index % 10 == 0]
display(df_index_ending_0)

Exercise 8: Rows with index ending in 0

    Year       WHO Region   Country Beverage Types  Display Value
0   1986  Western Pacific  Viet Nam           Wine            NaN
10  1987           Africa    Angola        Spirits           0.39

In [14]:
# Exercise 9: Average consumption of wine per person greater than 2

wine_data = df[df["Beverage Types"] == "Wine"]
wine_data = wine_data.dropna(subset=["Display Value"])

wine_per_person_gt_2 = wine_data[wine_data["Display Value"] > 2]

display(wine_per_person_gt_2)

Empty DataFrame
Columns: [Year, WHO Region, Country, Beverage Types, Display Value]
Index: []