<a href="https://colab.research.google.com/github/KB-22/Aimi-Lab-/blob/main/Aiml_lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum_odd_even_cubes(num_set):
    sum_odd_cube = 0
    sum_even_cube = 0

    for num in num_set:
        if num % 2 == 0:
            sum_even_cube += num ** 3
        else:
            sum_odd_cube += num ** 3

    return sum_odd_cube, sum_even_cube

numbers = {1, 2, 3, 4, 5}
odd_cube_sum, even_cube_sum = sum_odd_even_cubes(numbers)

print("SumOddCube:", odd_cube_sum)
print("SumEvenCube:", even_cube_sum)

SumOddCube: 153
SumEvenCube: 72

In [ ]:

def matrix_operations(matrix):

    rows = len(matrix)
    cols = len(matrix[0])


    transpose = []
    for j in range(cols):
        new_row = []
        for i in range(rows):
            new_row.append(matrix[i][j])
        transpose.append(new_row)


    row_sum = []
    for row in matrix:
        total = 0
        for num in row:
            total = total + num
        row_sum.append(total)


    col_sum = []
    for j in range(cols):
        total = 0
        for i in range(rows):
            total = total + matrix[i][j]
        col_sum.append(total)

    inverse = "Inverse not possible"

    if rows == 2 and cols == 2:
        a = matrix[0][0]
        b = matrix[0][1]
        c = matrix[1][0]
        d = matrix[1][1]

        det = (a * d) - (b * c)

        if det != 0:
            inverse = [
                [ d / det, -b / det],
                [-c / det,  a / det]
            ]


    return transpose, row_sum, col_sum, inverse




matrix = [
    [1, 2],
    [3, 4]
]

transpose, row_sum, col_sum, inverse = matrix_operations(matrix)


print("Original Matrix:", matrix)
print("Transpose:", transpose)
print("Row-wise Sum:", row_sum)
print("Column-wise Sum:", col_sum)
print("Inverse:", inverse)

Original Matrix: [[1, 2], [3, 4]]
Transpose: [[1, 3], [2, 4]]
Row-wise Sum: [3, 7]
Column-wise Sum: [4, 6]
Inverse: [[-2.0, 1.0], [1.5, -0.5]]

In [ ]:
import numpy as np


A = np.array([
    [1, -2, 3],
    [-1, 3, -1],
    [2, -5, 5]
])

B = np.array([9, -6, 17])

solution = np.linalg.solve(A, B)

x = solution[0]
y = solution[1]
z = solution[2]

print("Value of x:", x)
print("Value of y:", y)
print("Value of z:", z)

Value of x: 1.0
Value of y: -1.0
Value of z: 2.0

In [ ]:
import numpy as np


arr = np.array([
    [1, 2],
    [3, 4],
    [5, 6],
    [7, 8],
    [9, 10]
], dtype=np.uint16)


print("Dimensions:", arr.ndim)
print("Shape:", arr.shape)
print("Element size (bytes):", arr.itemsize)

Dimensions: 2
Shape: (5, 2)
Element size (bytes): 2

In [ ]:
import numpy as np

arr = np.arange(200, 300, 10, dtype=np.uint16).reshape(5, 2)

print(arr)

[[200 210]
 [220 230]
 [240 250]
 [260 270]
 [280 290]]

In [ ]:
import numpy as np


matrix = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

print(matrix[2])

[7 8 9]

In [ ]:
import numpy as np

array1 = np.array([
    [1,  2,  3,  4],
    [5,  6,  7,  8],
    [9, 10, 11, 12],
    [13,14, 15, 16],
    [17,18, 19, 20]
])

array2 = array1[1::2, ::2]

print(array2)

[[ 5  7]
 [13 15]]

In [ ]:
import numpy as np

array = np.array([
    [1,  2,  3],
    [4,  5,  6],
    [7,  8,  9],
    [10, 11, 12],
    [13, 14, 15],
    [16, 17, 18],
    [19, 20, 21],
    [22, 23, 24]
])

array1, array2, array3, array4 = np.split(array, 4)

print(array1)
print(array2)
print(array3)
print(array4)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]
[[13 14 15]
 [16 17 18]]
[[19 20 21]
 [22 23 24]]

In [ ]:
import numpy as np

arr = np.array([
    [16,  2,  8,  4],
    [5,  11, 10,  9],
    [12,  3, 14,  6],
    [7,  15,  1, 13]
])

sorted_by_third_row = arr[:, np.argsort(arr[2])]


sorted_by_fourth_column = arr[arr[:, 3].argsort()]

print("Sorted by third row:")
print(sorted_by_third_row)

print("\nSorted by fourth column:")
print(sorted_by_fourth_column)

Sorted by third row:
[[ 2  4 16  8]
 [11  9  5 10]
 [ 3  6 12 14]
 [15 13  7  1]]

Sorted by fourth column:
[[16  2  8  4]
 [12  3 14  6]
 [ 5 11 10  9]
 [ 7 15  1 13]]

In [ ]:
import numpy as np


arr = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])


new_column = np.array([10, 11, 12])


arr[:, 2] = new_column

print(arr)

[[ 1  2 10]
 [ 4  5 11]
 [ 7  8 12]]

In [ ]:
# Pandas

In [ ]:
import pandas as pd
N = 5
series = pd.Series(range(1, N + 1))
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd


df = pd.DataFrame({
    "A": [1, 2, 3, 4],
    "B": ["2019-05-26", "2019-05-26", "2019-05-26", "2019-05-26"],
    "C": ["Depression", "Social Anxiety", "Bipolar Disorder", "Eating Disorder"],
    "D": ["Mental health is challenging"] * 4,
    "E": ["Mental health is challenging"] * 4
})

print(df)

In [ ]:
import pandas as pd


data = {
    "A": ["Apple", "Aeroplane"],
    "B": ["Ball", "Bat"],
    "C": [None, "Cat"]
}

df = pd.DataFrame(data)

print(df)

           A     B     C
0      Apple  Ball  None
1  Aeroplane   Bat   Cat

In [ ]:
import pandas as pd

data = {
    "County": ["Ostfold", "Hordaland", "Oslo", "Hedmark", "Oppland"],
    "ISO-Code": [1, 2, 3, 4, 5],
    "Area": [4180.69, 4917.94, 454.07, 27397.76, 25192.10],
    "Administrative centre": ["Sarpsborg", "Oslo", "City of Oslo", "Hamar", "Lillehammer"]
}


df = pd.DataFrame(data)

print(df)

      County  ISO-Code      Area Administrative centre
0    Ostfold         1   4180.69             Sarpsborg
1  Hordaland         2   4917.94                  Oslo
2       Oslo         3    454.07          City of Oslo
3    Hedmark         4  27397.76                 Hamar
4    Oppland         5  25192.10           Lillehammer

In [ ]:
import pandas as pd


url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'ethnicity',
    'gender', 'capital_gain', 'capital_loss', 'hours_per_week',
    'country_of_origin', 'income'
]

df = pd.read_csv(url, header=None, names=columns, sep=', ', engine='python')

print(df.head(10))



print("Number of rows and columns:", df.shape)
print("\nData types:")
print(df.dtypes)
print("\nMemory usage:")
print(df.memory_usage())



print("\nFirst row:")
print(df.iloc[0])

print("\nFirst 10 rows:")
print(df.head(10))

print("\nRows 10 to 15:")
print(df.iloc[10:16])


print("\nLast two rows:")
print(df.tail(2))

print("\nOdd rows from columns 3 to 5:")
print(df.iloc[1::2, 2:5])

   age         workclass  fnlwgt  education  education_num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13
5   37           Private  284582    Masters             14
6   49           Private  160187        9th              5
7   52  Self-emp-not-inc  209642    HS-grad              9
8   31           Private   45781    Masters             14
9   42           Private  159449  Bachelors             13

          marital_status         occupation   relationship ethnicity  gender  \
0          Never-married       Adm-clerical  Not-in-family     White    Male
1     Married-civ-spouse    Exec-managerial        Husband     White    Male
2               Divorced  Handlers-cleaners  Not-in-family     White    Male
3     Married-civ-spouse  Handlers-cleaners        Husband     Black    Male
4     Married-civ-spouse     Prof-specialty           Wife     Black  Female
5     Married-civ-spouse    Exec-managerial           Wife     White  Female
6  Married-spouse-absent      Other-service  Not-in-family     Black  Female
7     Married-civ-spouse    Exec-managerial        Husband     White    Male
8          Never-married     Prof-specialty  Not-in-family     White  Female
9     Married-civ-spouse    Exec-managerial        Husband     White    Male

   capital_gain  capital_loss  hours_per_week country_of_origin income
0          2174             0              40     United-States  <=50K
1             0             0              13     United-States  <=50K
2             0             0              40     United-States  <=50K
3             0             0              40     United-States  <=50K
4             0             0              40              Cuba  <=50K
5             0             0              40     United-States  <=50K
6             0             0              16           Jamaica  <=50K
7             0             0              45     United-States   >50K
8         14084             0              50     United-States   >50K
9          5178             0              40     United-States   >50K
Number of rows and columns: (32561, 15)

Data types:
age                   int64
workclass            object
fnlwgt                int64
education            object
education_num         int64
marital_status       object
occupation           object
relationship         object
ethnicity            object
gender               object
capital_gain          int64
capital_loss          int64
hours_per_week        int64
country_of_origin    object
income               object
dtype: object

Memory usage:
Index                   132
age                  260488
workclass            260488
fnlwgt               260488
education            260488
education_num        260488
marital_status       260488
occupation           260488
relationship         260488
ethnicity            260488
gender               260488
capital_gain         260488
capital_loss         260488
hours_per_week       260488
country_of_origin    260488
income               260488
dtype: int64

First row:
age                             39
workclass                State-gov
fnlwgt                       77516
education                Bachelors
education_num                   13
marital_status       Never-married
occupation            Adm-clerical
relationship         Not-in-family
ethnicity                    White
gender                        Male
capital_gain                  2174
capital_loss                     0
hours_per_week                  40
country_of_origin    United-States
income                       <=50K
Name: 0, dtype: object

First 10 rows:
   age         workclass  fnlwgt  education  education_num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13
5   37           Private  284582    Masters             14
6   49           Private  160187        9th              5
7   52  Self-emp-not-inc  209642    HS-grad              9
8   31           Private   45781    Masters             14
9   42           Private  159449  Bachelors             13

          marital_status         occupation   relationship ethnicity  gender  \
0          Never-married       Adm-clerical  Not-in-family     White    Male
1     Married-civ-spouse    Exec-managerial        Husband     White    Male
2               Divorced  Handlers-cleaners  Not-in-family     White    Male
3     Married-civ-spouse  Handlers-cleaners        Husband     Black    Male
4     Married-civ-spouse     Prof-specialty           Wife     Black  Female
5     Married-civ-spouse    Exec-managerial           Wife     White  Female
6  Married-spouse-absent      Other-service  Not-in-family     Black  Female
7     Married-civ-spouse    Exec-managerial        Husband     White    Male
8          Never-married     Prof-specialty  Not-in-family     White  Female
9     Married-civ-spouse    Exec-managerial        Husband     White    Male

   capital_gain  capital_loss  hours_per_week country_of_origin income
0          2174             0              40     United-States  <=50K
1             0             0              13     United-States  <=50K
2             0             0              40     United-States  <=50K
3             0             0              40     United-States  <=50K
4             0             0              40              Cuba  <=50K
5             0             0              40     United-States  <=50K
6             0             0              16           Jamaica  <=50K
7             0             0              45     United-States   >50K
8         14084             0              50     United-States   >50K
9          5178             0              40     United-States   >50K

Rows 10 to 15:
    age  workclass  fnlwgt     education  education_num      marital_status  \
10   37    Private  280464  Some-college             10  Married-civ-spouse
11   30  State-gov  141297     Bachelors             13  Married-civ-spouse
12   23    Private  122272     Bachelors             13       Never-married
13   32    Private  205019    Assoc-acdm             12       Never-married
14   40    Private  121772     Assoc-voc             11  Married-civ-spouse
15   34    Private  245487       7th-8th              4  Married-civ-spouse

          occupation   relationship           ethnicity  gender  capital_gain  \
10   Exec-managerial        Husband               Black    Male             0
11    Prof-specialty        Husband  Asian-Pac-Islander    Male             0
12      Adm-clerical      Own-child               White  Female             0
13             Sales  Not-in-family               Black    Male             0
14      Craft-repair        Husband  Asian-Pac-Islander    Male             0
15  Transport-moving        Husband  Amer-Indian-Eskimo    Male             0

    capital_loss  hours_per_week country_of_origin income
10             0              80     United-States   >50K
11             0              40             India   >50K
12             0              30     United-States  <=50K
13             0              50     United-States  <=50K
14             0              40                 ?   >50K
15             0              45            Mexico  <=50K

Last two rows:
       age     workclass  fnlwgt education  education_num      marital_status  \
32559   22       Private  201490   HS-grad              9       Never-married
32560   52  Self-emp-inc  287927   HS-grad              9  Married-civ-spouse

            occupation relationship ethnicity  gender  capital_gain  \
32559     Adm-clerical    Own-child     White    Male             0
32560  Exec-managerial         Wife     White  Female         15024

       capital_loss  hours_per_week country_of_origin income
32559             0              20     United-States  <=50K
32560             0              40     United-States   >50K

Odd rows from columns 3 to 5:
       fnlwgt     education  education_num
1       83311     Bachelors             13
3      234721          11th              7
5      284582       Masters             14
7      209642       HS-grad              9
9      159449     Bachelors             13
...       ...           ...            ...
32551   34066          10th              6
32553  116138       Masters             14
32555  310152  Some-college             10
32557  154374       HS-grad              9
32559  201490       HS-grad              9

[16280 rows x 3 columns]