<a href="https://colab.research.google.com/github/KB-22/Aimi-Lab-/blob/main/AIML_lab_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Question 1
print("Table of 7:")
for i in range(1, 11):
    print(7, "x", i, "=", 7 * i)

print()


print("Table of 9:")
for i in range(1, 11):
    print(9, "x", i, "=", 9 * i)

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [2]:
# Question 2 WAP to print the table of n and n is given by user.
n = int(input("Enter a number: "))


print("Table of", n)

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 9
Table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [3]:
# Question3 WAP to add all the numbers from 1 to n and n is given by user.
n = int(input("Enter a number: "))

sum = 0

for i in range(1, n + 1):
    sum = sum + i

print("Sum of numbers from 1 to", n, "is:", sum)

Enter a number: 3
Sum of numbers from 1 to 3 is: 6

In [8]:
# Question 4 WAP to find whether the given number is an Armstrong number.
num = int(input("Enter a number: "))

temp = num
sum = 0


digits = len(str(num))


while temp > 0:
    digit = temp % 10
    sum = sum + (digit ** digits)
    temp = temp // 10

if sum == num:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number: 5
5 is an Armstrong number

In [7]:
# Question 5 WAP to find average of first n numbers.
n = int(input("Enter a number: "))

sum = 0

for i in range(1, n + 1):
    sum = sum + i

average = sum / n

print("Average of first", n, "numbers is:", average)

Enter a number: 4
Average of first 4 numbers is: 2.5

In [6]:
# Question 6 6. WAP to sum the series 1^2 / 1 + 2 ^2 / 2 + ……… + n ^2 / n
n = int(input("Enter the value of n: "))

sum = 0

for i in range(1, n + 1):
    sum = sum + (i**2) / i

print("Sum of the series is:", sum)

Enter the value of n: 5
Sum of the series is: 15.0

In [4]:
#Question 7 WAP to generate the following a square pattern
n = int(input("Enter the size of the square: "))

for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print()

Enter the size of the square: 4
* * * *
* * * *
* * * *
* * * *

In [5]:
# Question 8 WAP to print the sum of the series: 1 - x + x^2 /2! - x^3 / 3! + ……
x = float(input("Enter the value of x: "))
n = int(input("Enter number of terms: "))

sum = 0
fact = 1

for i in range(n):
    if i > 0:
        fact = fact * i

    term = (x**i) / fact
    if i % 2 == 1:
        term = -term

    sum = sum + term

print("Sum of the series is:", sum)

Enter the value of x: 4
Enter number of terms: 4
Sum of the series is: -5.666666666666666